# Node
node_modules/

# Cloudflare
.wrangler/

# Environment
.env
.env.local

# Logs
*.log

# System
.DS_Store
Thumbs.db

# Firebase
.firebase/
firebase-debug.log
firebug-*.log
firestore-debug.log
ui-debug.log

# Just a test comment to show Git how changes work!tmp

# Backups
*.zip
backups/
*.bak

# Temporary files
*.tmp

# Build
.next/
dist/

# Large JSON if generated
public/*.json
